.container{
      padding-top: 40px;
}

.row{
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 30px
}

.mainHeading{
  text-align: center;
  padding-bottom: 35px
}

#righttotal{
    border: 1px solid black;
    border-radius: 10px;
    height: 260px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #0f580f;
    color: white;
}
 
button{  
    padding: 10px;

}

.borderActive {
  border: 4px solid black;
}

.whitespace{
    marginLeft: '4.5rem'
}
.inbutton1{
    width: 40px;
    background-color: #cbc5c5;
}
.inbutton2{
    width: 40px;
    background-color: orange;
}
.inbutton3{
    width: 40px;
    background-color: skyblue;
}